//Layout
$mobile: 720px;
$desktop: 1440px;

$bg-primary: #fff;
$bg-primary-red: hsl(0, 100%, 74%);
$bg-primary-green: hsl(154, 59%, 51%);

$accent-blue: hsl(248, 32%, 49%);

$neutral-dark:hsl(249, 10%, 26%);
$neutral-grayish: hsl(246, 25%, 77%);
$secondary: rgb(222,222,222);

$text-primary: #fff;
$text-primary-red: hsl(0, 100%, 74%);

$color-shadow: hsla(249, 10%, 26%, 0.219);
